@import "tailwindcss";

:root {
  --primary-dark: #043873;
  --primary-light: #4F9CF9;
  --secondary: #FFE492;
  --secondary-dark: #212529;
  --secondary-light: #A7CEFC;
  --secondary-lighter: #FFFFFF;
}

@theme inline {
  --color-background: var(--primary-dark);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
